<html>
<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="container">
    <p> ISBN Number: {{ results[0] }}</p>
    <p> Author: {{ results[1] }}</p>
    <p> Title: {{ results[2] }}</p>
    <p> Year: {{ results[3] }}</p>

    <p> GOODREADS DATA </p>
    <p> Ratings count: {{ ratings_count }}</p>
    <p> Average rating: {{ average_rating }}</p>
</div>

<br> <br> <br>
<a href="{{ url_for('logout') }}">Log out</a>
</body>
</html>